[include mainsail.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E66430A64B2F9A24-if00
restart_method: command

#####################################################################
#      Temperature monitoring
#####################################################################
[temperature_sensor Micro4]
sensor_type: temperature_mcu

#####################################################################
#      Tmodel and acceleration
#####################################################################
[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 2000
max_z_velocity: 15
max_z_accel: 300
square_corner_velocity: 6.0

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: gpio6
dir_pin:gpio3
enable_pin:!gpio7
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: -6
position_min: -6
position_max: 180
homing_speed: 20
second_homing_speed: 5
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin:gpio9
uart_address:0
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^gpio13
driver_SGTHRS: 60

[stepper_y]
step_pin: gpio26
dir_pin:gpio25
enable_pin: !gpio27
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -6
position_min: -6
position_max: 180
homing_speed: 20
second_homing_speed: 5
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin:gpio9
uart_address:2
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^gpio15
driver_SGTHRS: 60

# [safe_z_home]
# home_xy_position: 90,90
# speed: 50.0
# z_hop: 10
# z_hop_speed: 5

#####################################################################
#   Z Stepper Settings
#####################################################################
[stepper_z]
step_pin: gpio1
dir_pin: !gpio0
enable_pin:!gpio2
rotation_distance: 8
microsteps: 16
# endstop_pin: ^!gpio14
endstop_pin: probe:z_virtual_endstop
position_max: 180
# position_min: 0
position_min: -2
homing_speed: 20
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin:gpio9
uart_address:1
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################
[extruder]
sensor_type: Generic 3950
sensor_pin: gpio28

#####################################################################
#      extruder
#####################################################################
[extruder]
step_pin: gpio23
dir_pin: gpio22
enable_pin: !gpio24
microsteps: 16
rotation_distance: 22.6789511
gear_ratio:50:17
microsteps:16
full_steps_per_rotation: 200    
nozzle_diameter:0.400
filament_diameter:1.75
heater_pin: gpio20
min_temp: -50
max_temp: 300
max_power: 1.0
min_extrude_temp: 150
pressure_advance: 0.03
##Pressure in advance
##https://www.klipper3d.org/zh/Pressure_Advance.html
pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 800
max_extrude_cross_section:800
control:watermark
step_pulse_duration: 0.000004

[tmc2209 extruder]
uart_pin:gpio9
uart_address:3
interpolate: False
run_current: 0.6
hold_current: 0.4
stealthchop_threshold: 0
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
heater_pin: gpio21
sensor_type:Generic 3950
sensor_pin: gpio29
smooth_time: 3.0
# max_power: 0.6 # Only needed for 100w pads
min_temp: -50
max_temp: 120
control:watermark

#####################################################################
# Fan Control
#####################################################################
[fan]
pin: gpio17
max_power: 1.0
kick_start_time: 0.5
off_below: 0.13
cycle_time: 0.010
#####################################################################
[heater_fan hotend_fan]
pin: gpio16
max_power: 1.0
fan_speed: 0.8
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 1800

[bltouch]
sensor_pin: ^gpio18
control_pin: gpio19
x_offset: 35
y_offset: 3
speed: 5
samples: 2
probe_with_touch_mode: False

[screws_tilt_adjust]
screw1: -5, 25
screw2: 125, 25
screw3: -5, 155
screw4: 125,155
horizontal_move_z: 10
speed: 100
screw_thread: CW-M3

[bed_mesh]
speed: 80
horizontal_move_z: 5

mesh_min: 29, 6
mesh_max: 174, 174

probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0



[exclude_object]
[respond]
[pause_resume]
[gcode_arcs]

[homing_override]
axes: xyz
gcode:
    _ARM_SENSORLESS
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
    
    {% if home_all or 'X' in params %}
        _HOME_X
    {% endif %}
    
    {% if home_all or 'Y' in params %}
        _HOME_Y
    {% endif %}
    
    {% if home_all or 'Z' in params %}
        _HOME_Z
    {% endif %}
    _DISARM_SENSORLESS


#####################################################################
# Macros
#####################################################################

[gcode_macro PROBE_MESH]
gcode:
    M104 S120
    M140 S60

    G28
    BED_MESH_CALIBRATE PROFILE=default METHOD=automatic
    # Move to rear park position (safe for your offsets)
    # G1 X90 Y180 Z60 F6000

    # Turn off heaters
    M104 S0
    M140 S0

    # Turn off fan
    M107

    # Disable motors (optional)
    M84

[gcode_macro HOME_CENTER]
gcode:
    G1 X90 Y90 F6000

[gcode_macro PRINT_START]
description: Start print sequence
gcode:
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(200)|float %}

    # Start heating
    M140 S{BED_TEMP}
    M104 S150

    # Home with sensorless active
    G28
    # HOME

    # Move to bed center (safe for your offset X7 Y17)
    G90
    G1 X90 Y90 Z10 F6000

    # Wait for bed temp
    M190 S{BED_TEMP}

    # Bed mesh (load if already saved)
    BED_MESH_PROFILE LOAD=default

    # Final nozzle heat
    M109 S{EXTRUDER_TEMP}

    # Prime line
    G0 X60 Y-5 F9000
    G0 Z0.15
    G92 E0
    G1 X100 E25 F500
    G92 E0
    G1 E-1 F500
    G1 X80 F4000
    G1 Z0.3


[gcode_macro _ARM_SENSORLESS]
gcode:
    SET_TMC_FIELD STEPPER=stepper_x FIELD=SGTHRS VALUE=60
    SET_TMC_FIELD STEPPER=stepper_y FIELD=SGTHRS VALUE=60

[gcode_macro _DISARM_SENSORLESS]
gcode:
    SET_TMC_FIELD STEPPER=stepper_x FIELD=SGTHRS VALUE=0
    SET_TMC_FIELD STEPPER=stepper_y FIELD=SGTHRS VALUE=0


[gcode_macro PRINT_END]
description: End print sequence
gcode:
    # Stop extrusion cleanly
    G92 E0
    G1 E-2 F1800

    # Lift Z slightly
    G91
    G1 Z5 F2000
    G90

    # Move to rear park position (safe for your offsets)
    G1 X90 Y160 F6000

    # Turn off heaters
    M104 S0
    M140 S0

    # Turn off fan
    M107

    # Disable motors (optional)
    M84


[gcode_macro LOAD_FILAMENT]
gcode:
  M83                            ; set extruder to relative
  G1 E30 F300                    ; load
  G1 E15 F150                    ; prime nozzle with filament
  M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
  M83                            ; set extruder to relative
  G1 E10 F300                    ; extrude a little to soften tip
  G1 E#40 F1800                  ; retract some, but not too much or it will jam
  M82                            ; set extruder to absolute

[gcode_macro _HOME_X]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G28 X0
    # Move away
    G91
    G1 X10 F1200
    
    # wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    # Set current for printing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    
    # Home
    G28 Y0
    # Move away
    G91
    G1 Y10 F1200
    
    # wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    # Set current for printing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Z]
gcode:
    G90
    G28 Z
    G1 Z30

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 1.890
#*#
#*# [bltouch]
#*# z_offset = 0.611
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.021250, 0.023750, 0.041250, 0.038750, 0.118750
#*# 	  -0.073750, -0.028750, -0.003750, -0.022500, 0.093750
#*# 	  -0.072500, -0.020000, -0.005000, 0.028750, 0.153750
#*# 	  -0.067500, 0.003750, -0.001250, 0.066250, 0.130000
#*# 	  -0.050000, 0.123750, 0.115000, 0.160000, 0.243750
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 29.0
#*# max_x = 174.0
#*# min_y = 6.0
#*# max_y = 174.0
